.manage_docs_page {

    .manage_doc_sec {

        .form_title {
            font-weight: bold;
            font-size: 29px;
        }

        .form_body {
            padding-top: 40px;

        }
    }
}