.login_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login_form {
        max-width: 500px;
        width: 100%;
        display: flex;
        // justify-content: center;
        border: 2px solid #8b87b9;
        border-radius: 2px;
        padding:40px 20px;

        .login_title {
            width: max-content;
            padding: 0px 5px;
            color: #6c65be;
            font-size: 29px;
            padding: 0px 5px;
        }

        .ant-row.ant-form-item{
            padding-bottom: 20px;

            .ant-form-item-label{
                text-align: left;
            }
        }

        .center_blk{
            display: flex;
            justify-content: center;
        }
    }


    .privacy_policy_cta{
        display:flex ;
        justify-content: end;
    }
}